<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e366bb">  <td>21/11/11 17:00:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test2()[pri:0, instance:com.manishw.selenium.AppTest@1a1d3c1a]">test2</td> 
  <td>main@2142129482</td>   <td></td> </tr>
<tr bgcolor="e366bb">  <td>21/11/11 17:00:29</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test1()[pri:0, instance:com.manishw.selenium.AppTest@1a1d3c1a]">test1</td> 
  <td>main@2142129482</td>   <td></td> </tr>
<tr bgcolor="b4aaa2">  <td>21/11/11 17:00:13</td>   <td>-15993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_TC.login_test()[pri:0, instance:com.manishw.selenium.Login_TC@3be8821f]">login_test</td> 
  <td>main@2142129482</td>   <td></td> </tr>
</table>
