<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e69770">  <td>21/11/12 12:13:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClassUsingListener.afterClass()[pri:0, instance:extentreport.TestClassUsingListener@536dbea0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1986417638</td>   <td></td> </tr>
<tr bgcolor="e69770">  <td>21/11/12 12:13:21</td>   <td>-914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassUsingListener.testFailed()[pri:0, instance:extentreport.TestClassUsingListener@536dbea0]">testFailed</td> 
  <td>main@1986417638</td>   <td></td> </tr>
<tr bgcolor="e69770">  <td>21/11/12 12:13:21</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassUsingListener.testSkipped()[pri:0, instance:extentreport.TestClassUsingListener@536dbea0]">testSkipped</td> 
  <td>main@1986417638</td>   <td></td> </tr>
<tr bgcolor="e086d3">  <td>21/11/12 12:13:16</td>   <td>-5200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test2()[pri:0, instance:com.manishw.selenium.AppTest@45efd90f]">test2</td> 
  <td>main@1986417638</td>   <td></td> </tr>
<tr bgcolor="ecf699">  <td>21/11/12 12:13:07</td>   <td>-14639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_TC.login_test()[pri:0, instance:com.manishw.selenium.Login_TC@17503f6b]">login_test</td> 
  <td>main@1986417638</td>   <td></td> </tr>
<tr bgcolor="e69770">  <td>21/11/12 12:13:21</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClassUsingListener.testSuccessful()[pri:0, instance:extentreport.TestClassUsingListener@536dbea0]">testSuccessful</td> 
  <td>main@1986417638</td>   <td></td> </tr>
<tr bgcolor="e69770">  <td>21/11/12 12:13:16</td>   <td>-5189</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClassUsingListener.beforeClass()[pri:0, instance:extentreport.TestClassUsingListener@536dbea0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1986417638</td>   <td></td> </tr>
<tr bgcolor="e086d3">  <td>21/11/12 12:13:16</td>   <td>-5206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test1()[pri:0, instance:com.manishw.selenium.AppTest@45efd90f]">test1</td> 
  <td>main@1986417638</td>   <td></td> </tr>
</table>
